body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(41, 157, 165);
}
#fdm{
  color: white;
  text-align: left;
  font-weight: bold;
}
#b{
  color: black;
  font-size: small;
  text-align: center;
  margin-top: 225px;
  margin-bottom: -225px; 
}

#dh {
  color: white;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%
  
}

#quote{
  font-size: small;
  border: solid;
  border-color: white; 
  color: white;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

